{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- 
    - primary meta tags
  -->
  <title>Cryptoza - Trusted & Secure Trading Crypto Wallet</title>
  <meta name="title" content="Cryptoza - Trusted & Secure Trading Crypto Wallet">

  <!-- 
    - favicon
  -->
  <link rel="shortcut icon" href="{% static 'assets/images/favicon.svg'%}" type="image/svg+xml">

  <!-- 
    - custom css link
  -->
  <link rel="stylesheet" href="{% static 'css/style.css'%}">

  <!-- 
    - google font link
  -->
  <link rel="preconnect" href="https://fonts.googleapis.com"> 
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&family=Poppins:wght@400;500;600;700;800&display=swap"
    rel="stylesheet">

  <!-- 
    - preload images
  -->
  <link rel="preload" as="image" href="{% static 'assets/images/hero-banner.png'%}">

</head>

<body>

  <!-- 
    - #HEADER
  -->

  <header class="header" data-header>
    <div class="container">

      <a href="#" class="logo">
        <img src="{% static 'assets/images/logo.svg'%}" width="185" height="31" alt="Cryptoza home">
      </a>

      <nav class="navbar" data-navbar>

        <div class="navbar-top">

          <a href="#" class="logo">
            <img src="{% static 'assets/images/logo.svg'%}" width="185" height="31" alt="Cryptoza home">
          </a>

          <button class="nav-close-btn" aria-label="close menu" data-nav-toggler>
            <ion-icon name="close-outline" aria-hidden="true"></ion-icon>
          </button>

        </div>

        <ul class="navbar-list">

          <li>
            <a href="#home" class="navbar-link">Home</a>
          </li>

          <li>
            <a href="#services" class="navbar-link">Services</a>
          </li>

          <li>
            <a href="#market" class="navbar-link">Market</a>
          </li>

          <li>
            <a href="#pricing" class="navbar-link">Pricing</a>
          </li>

          <li>
            <a href="#company" class="navbar-link">Company</a>
          </li>

        </ul>

      </nav>

      <div class="btn-group">
        <a href="#" class="btn ghost-btn">Sign In</a>

        <a href="#" class="btn btn-primary">Get Started</a>
      </div>

      <button class="nav-open-btn" aria-label="open menu" data-nav-toggler>
        <ion-icon name="menu-outline" aria-hidden="true"></ion-icon>
      </button>

      <div class="overlay" data-overlay data-nav-toggler></div>

    </div>
  </header>





  <main>
    <article>

      <!-- 
        - #HERO
      -->

      <section class="hero" aria-label="home" id="home">
        <div class="container">

          <div class="hero-content">

            <h1 class="h1 hero-title">Trusted & Secure Trading Crypto Wallet</h1>

            <p class="hero-text">
              Support multi-chain trading, dApp browsing, and NFT management, allowing users to securely swap assets while maintaining full ownership.
            </p>

            <div class="btn-group">
              <a href="#" class="btn btn-primary">Get Started</a>

              <a href="#" class="play-btn">
                <div class="icon">
                  <ion-icon name="play" aria-hidden="true"></ion-icon>
                </div>

                <span class="span">How it works</span>
              </a>
            </div>

          </div>

          <div class="hero-banner">
            <figure class="hero-banner">
              <img src="{% static 'assets/images/hero-banner.png'%}" width="799" height="823" alt="hero banner" class="w-100">
            </figure>
          </div>

        </div>
      </section>





      <!-- 
        - #PROMO
      -->

      <section class="section promo" aria-label="promo" id="services">
        <div class="container">

          <h2 class="h2 section-title text-center">Most Trusted Cryptocurrency Platform</h2>

          <p class="section-text text-center">
            A cryptocurrency is a tradable digital asset or digital form of money, built on blockchain technology that
            only exists
            online.
          </p>

          <ul class="grid-list">

            <li>
              <div class="promo-card bg-gray">

                <div class="card-icon">
                  <ion-icon name="share-social-outline" aria-hidden="true"></ion-icon>
                </div>

                <h3 class="h3 card-title">Best Trading Platform</h3>

                <p class="card-text">
                  Offer a balance of user-friendly interfaces, extensive coin support, and secure asset storage. And  Known for high-security standards, low fees, and advanced trading tools via Cryptoza.
                </p>

                <a href="#" class="btn-link">
                  <span class="span">Explore More</span>

                  <ion-icon name="arrow-forward" aria-hidden="true"></ion-icon>
                </a>

              </div>
            </li>

            <li>
              <div class="promo-card bg-gray">

                <div class="card-icon">
                  <ion-icon name="pricetags-outline" aria-hidden="true"></ion-icon>
                </div>

                <h3 class="h3 card-title">Transparent Pricing</h3>

                <p class="card-text">
                  Clearly separating network fees, exchange spreads, and service fees, ensuring users know the exact cost of transactions before they confirm.
                </p>

                <a href="#" class="btn-link">
                  <span class="span">Explore More</span>

                  <ion-icon name="arrow-forward" aria-hidden="true"></ion-icon>
                </a>

              </div>
            </li>

            <li>
              <div class="promo-card bg-gray">

                <div class="card-icon">
                  <ion-icon name="shield-checkmark-outline" aria-hidden="true"></ion-icon>
                </div>

                <h3 class="h3 card-title">Trusted Security</h3>

                <p class="card-text">
                  Recognized for advanced security with a "quantum-ready" architecture designed to protect against future computing threats. It features fully open-source firmware for transparency.
                </p>

                <a href="#" class="btn-link">
                  <span class="span">Explore More</span>

                  <ion-icon name="arrow-forward" aria-hidden="true"></ion-icon>
                </a>

              </div>
            </li>

          </ul>

        </div>
      </section>





      <!-- 
        - #STATS
      -->

      <section class="stats" aria-label="statistics" id="market">
        <div class="container">

          <div class="stats-content">

            <h2 class="h2 section-title">Our Best Users Are all over the Worldwide Coverage</h2>

            <p class="section-text">
              The best wallets have evolved into "crypto lifestyle platforms" that combine security with cross-border payment capabilities, bridging the gap between digital assets and everyday spending.
            </p>

            <p class="section-text">
              Several wallets dominate the market by offering extensive multi-chain support, institutional-grade security, and specialized regional features.
            </p>

            <ul class="stats-list">

              <li>
                <div class="stats-card bg-gray">

                  <h3 class="h3 card-title">150k+</h3>

                  <p class="card-text">
                    Pepole who Have Joined
                  </p>

                </div>
              </li>

              <li>
                <div class="stats-card bg-gray">

                  <h3 class="h3 card-title">45k+</h3>

                  <p class="card-text">
                    Pepole who Have Joined
                  </p>

                </div>
              </li>

              <li>
                <div class="stats-card bg-gray">

                  <h3 class="h3 card-title">16k+</h3>

                  <p class="card-text">
                    Pepole Joined Altrawallet
                  </p>

                </div>
              </li>

            </ul>

          </div>

          <figure class="stats-banner">
            <img src="{% static 'assets/images/stats-banner.png'%}" width="797" height="454" alt="map" class="w-100">
          </figure>

        </div>
      </section>





      <!-- 
        - #MARKET
      -->

      <section class="section market" aria-label="crypto market live price" id="pricing">
        <div class="container">

          <h2 class="h2 section-title text-center">Crypto Market Live Price</h2>

          <p class="section-text text-center">
            Top wallets for managing live prices include USDT, XRP, and LUNA, offering real-time tracking of major assets like BTC, ETH, and SOL.
          </p>

          <div class="table-container">
            <table class="market-table">

              <thead class="table-head">
                <tr class="table-row">

                  <th class="table-heading">Cryptocurrency</th>

                  <th class="table-heading">USD Price</th>

                  <th class="table-heading">1h % Change</th>

                  <th class="table-heading">24h % Change</th>

                  <th class="table-heading">7d % Change</th>

                </tr>
              </thead>

              <tbody class="table-body">

                <tr class="table-row">

                  <td class="table-data wrapper">
                    <img src="{% static 'assets/images/coin-1.png'%}" width="64" height="64" loading="lazy" alt="BTC">

                    <div>
                      <h3 class="h3 coin-name">Bitcoin</h3>

                      <span class="span">BTC</span>
                    </div>
                  </td>

                  <td class="table-data">
                    <data class="data" value="70,072">70,072</data>
                  </td>

                  <td class="table-data">
                    <div class="wrapper-flex">
                      <div class="icon red">
                        <ion-icon name="caret-down" aria-hidden="true"></ion-icon>
                      </div>

                      <data class="data" value="0.66%">0.66%</data>
                    </div>
                  </td>

                  <td class="table-data">
                    <div class="wrapper-flex">
                      <div class="icon red">
                        <ion-icon name="caret-down" aria-hidden="true"></ion-icon>
                      </div>

                      <data class="data" value="1.57%">1.57%</data>
                    </div>
                  </td>

                  <td class="table-data">
                    <div class="wrapper-flex">
                      <div class="icon red">
                        <ion-icon name="caret-down" aria-hidden="true"></ion-icon>
                      </div>

                      <data class="data" value="1.2%">1.2%</data>
                    </div>
                  </td>

                </tr>

                <tr class="table-row">

                  <td class="table-data wrapper">
                    <img src="{% static 'assets/images/coin-2.png'%}" width="64" height="64" loading="lazy" alt="ETH">

                    <div>
                      <h3 class="h3 coin-name">Ethereum</h3>

                      <span class="span">ETH</span>
                    </div>
                  </td>

                  <td class="table-data">
                    <data class="data" value="2,117">2,117</data>
                  </td>

                  <td class="table-data">
                    <div class="wrapper-flex">
                      <div class="icon red">
                        <ion-icon name="caret-down" aria-hidden="true"></ion-icon>
                      </div>

                      <data class="data" value="1.07%">1.07%</data>
                    </div>
                  </td>

                  <td class="table-data">
                    <div class="wrapper-flex">
                      <div class="icon red">
                        <ion-icon name="caret-down" aria-hidden="true"></ion-icon>
                      </div>

                      <data class="data" value="2.31%">2.31%</data>
                    </div>
                  </td>

                  <td class="table-data">
                    <div class="wrapper-flex">
                      <div class="icon red">
                        <ion-icon name="caret-down" aria-hidden="true"></ion-icon>
                      </div>

                      <data class="data" value="3.2%">3.2%</data>
                    </div>
                  </td>

                </tr>

                <tr class="table-row">

                  <td class="table-data wrapper">
                    <img src="{% static 'assets/images/coin-3.png'%}" width="64" height="64" loading="lazy" alt="USDT">

                    <div>
                      <h3 class="h3 coin-name">Tether</h3>

                      <span class="span">USDT</span>
                    </div>
                  </td>

                  <td class="table-data">
                    <data class="data" value="0,9996">0,9996</data>
                  </td>

                  <td class="table-data">
                    <div class="wrapper-flex">
                      <div class="icon green">
                        <ion-icon name="caret-up" aria-hidden="true"></ion-icon>
                      </div>

                      <data class="data" value="0.04%">0.04%</data>
                    </div>
                  </td>

                  <td class="table-data">
                    <div class="wrapper-flex">
                      <div class="icon red">
                        <ion-icon name="caret-down" aria-hidden="true"></ion-icon>
                      </div>

                      <data class="data" value="0.1%">0.1%</data>
                    </div>
                  </td>

                  <td class="table-data">
                    <div class="wrapper-flex">
                      <div class="icon red">
                        <ion-icon name="caret-down" aria-hidden="true"></ion-icon>
                      </div>

                      <data class="data" value="0.0%">0.0%</data>
                    </div>
                  </td>

                </tr>

                <tr class="table-row">

                  <td class="table-data wrapper">
                    <img src="{% static 'assets/images/coin-4.png'%}" width="64" height="64" loading="lazy" alt="BNB">

                    <div>
                      <h3 class="h3 coin-name">BNB</h3>

                      <span class="span">BNB</span>
                    </div>
                  </td>

                  <td class="table-data">
                    <data class="data" value="634">634</data>
                  </td>

                  <td class="table-data">
                    <div class="wrapper-flex">
                      <div class="icon red">
                        <ion-icon name="caret-down" aria-hidden="true"></ion-icon>
                      </div>

                      <data class="data" value="0.7%">0.7%</data>
                    </div>
                  </td>

                  <td class="table-data">
                    <div class="wrapper-flex">
                      <div class="icon red">
                        <ion-icon name="caret-down" aria-hidden="true"></ion-icon>
                      </div>

                      <data class="data" value="1.8%">1.8%</data>
                    </div>
                  </td>

                  <td class="table-data">
                    <div class="wrapper-flex">
                      <div class="icon red">
                        <ion-icon name="caret-down" aria-hidden="true"></ion-icon>
                      </div>

                      <data class="data" value="2.3%">2.3%</data>
                    </div>
                  </td>

                </tr>

                <tr class="table-row">

                  <td class="table-data wrapper">
                    <img src="{% static 'assets/images/coin-5.png'%}" width="64" height="64" loading="lazy" alt="USDC">

                    <div>
                      <h3 class="h3 coin-name">USD Coin</h3>

                      <span class="span">USDC</span>
                    </div>
                  </td>

                  <td class="table-data">
                    <data class="data" value="0,9999">0,9999</data>
                  </td>

                  <td class="table-data">
                    <div class="wrapper-flex">
                      <div class="icon green">
                        <ion-icon name="caret-up" aria-hidden="true"></ion-icon>
                      </div>

                      <data class="data" value="0.0%">0.0%</data>
                    </div>
                  </td>

                  <td class="table-data">
                    <div class="wrapper-flex">
                      <div class="icon green">
                        <ion-icon name="caret-up" aria-hidden="true"></ion-icon>
                      </div>

                      <data class="data" value="0.0%">0.0%</data>
                    </div>
                  </td>

                  <td class="table-data">
                    <div class="wrapper-flex">
                      <div class="icon green">
                        <ion-icon name="caret-up" aria-hidden="true"></ion-icon>
                      </div>

                      <data class="data" value="0.0%">0.0%</data>
                    </div>
                  </td>

                </tr>

                <tr class="table-row">

                  <td class="table-data wrapper">
                    <img src="{% static 'assets/images/coin-6.png'%}" width="64" height="64" loading="lazy" alt="XRP">

                    <div>
                      <h3 class="h3 coin-name">XRP</h3>

                      <span class="span">XRP</span>
                    </div>
                  </td>

                  <td class="table-data">
                    <data class="data" value="1.39">1.39</data>
                  </td>

                  <td class="table-data">
                    <div class="wrapper-flex">
                      <div class="icon red">
                        <ion-icon name="caret-down" aria-hidden="true"></ion-icon>
                      </div>

                      <data class="data" value="0.5%">0.5%</data>
                    </div>
                  </td>

                  <td class="table-data">
                    <div class="wrapper-flex">
                      <div class="icon red">
                        <ion-icon name="caret-down" aria-hidden="true"></ion-icon>
                      </div>

                      <data class="data" value="2.4%">2.4%</data>
                    </div>
                  </td>

                  <td class="table-data">
                    <div class="wrapper-flex">
                      <div class="icon red">
                        <ion-icon name="caret-down" aria-hidden="true"></ion-icon>
                      </div>

                      <data class="data" value="5.2%">5.2%</data>
                    </div>
                  </td>

                </tr>

                <tr class="table-row">

                  <td class="table-data wrapper">
                    <img src="{% static 'assets/images/coin-7.png'%}" width="64" height="64" loading="lazy" alt="SOL">

                    <div>
                      <h3 class="h3 coin-name">Solana</h3>

                      <span class="span">SOL</span>
                    </div>
                  </td>

                  <td class="table-data">
                    <data class="data" value="88.95">88.95</data>
                  </td>

                  <td class="table-data">
                    <div class="wrapper-flex">
                      <div class="icon red">
                        <ion-icon name="caret-down" aria-hidden="true"></ion-icon>
                      </div>

                      <data class="data" value="0.9%">0.9%</data>
                    </div>
                  </td>

                  <td class="table-data">
                    <div class="wrapper-flex">
                      <div class="icon red">
                        <ion-icon name="caret-down" aria-hidden="true"></ion-icon>
                      </div>

                      <data class="data" value="4.0%">4.0%</data>
                    </div>
                  </td>

                  <td class="table-data">
                    <div class="wrapper-flex">
                      <div class="icon red">
                        <ion-icon name="caret-down" aria-hidden="true"></ion-icon>
                      </div>

                      <data class="data" value="0.7%">0.7%</data>
                    </div>
                  </td>

                </tr>

                <tr class="table-row">

                  <td class="table-data wrapper">
                    <img src="{% static 'assets/images/coin-8.png'%}" width="64" height="64" loading="lazy" alt="ADA">

                    <div>
                      <h3 class="h3 coin-name">Cardano</h3>

                      <span class="span">ADA</span>
                    </div>
                  </td>

                  <td class="table-data">
                    <data class="data" value="0.2615">0.2615</data>
                  </td>

                  <td class="table-data">
                    <div class="wrapper-flex">
                      <div class="icon red">
                        <ion-icon name="caret-down" aria-hidden="true"></ion-icon>
                      </div>

                      <data class="data" value="0.8%">0.8%</data>
                    </div>
                  </td>

                  <td class="table-data">
                    <div class="wrapper-flex">
                      <div class="icon red">
                        <ion-icon name="caret-down" aria-hidden="true"></ion-icon>
                      </div>

                      <data class="data" value="3.1%">3.1%</data>
                    </div>
                  </td>

                  <td class="table-data">
                    <div class="wrapper-flex">
                      <div class="icon red">
                        <ion-icon name="caret-down" aria-hidden="true"></ion-icon>
                      </div>

                      <data class="data" value="3.3%">3.3%</data>
                    </div>
                  </td>

                </tr>

                <tr class="table-row">

                  <td class="table-data wrapper">
                    <img src="{% static 'assets/images/coin-9.png'%}" width="64" height="64" loading="lazy" alt="LUNA">

                    <div>
                      <h3 class="h3 coin-name">Terra</h3>

                      <span class="span">LUNA</span>
                    </div>
                  </td>

                  <td class="table-data">
                    <data class="data" value="0.05898">0.05898</data>
                  </td>

                  <td class="table-data">
                    <div class="wrapper-flex">
                      <div class="icon green">
                        <ion-icon name="caret-up" aria-hidden="true"></ion-icon>
                      </div>

                      <data class="data" value="0.21%">0.21%</data>
                    </div>
                  </td>

                  <td class="table-data">
                    <div class="wrapper-flex">
                      <div class="icon red">
                        <ion-icon name="caret-down" aria-hidden="true"></ion-icon>
                      </div>

                      <data class="data" value="2.8%">2.8%</data>
                    </div>
                  </td>

                  <td class="table-data">
                    <div class="wrapper-flex">
                      <div class="icon red">
                        <ion-icon name="caret-down" aria-hidden="true"></ion-icon>
                      </div>

                      <data class="data" value="2.98%">2.98%</data>
                    </div>
                  </td>

                </tr>

                <tr class="table-row">

                  <td class="table-data wrapper">
                    <img src="{% static 'assets/images/coin-10.png'%}" width="64" height="64" loading="lazy" alt="AVAX">

                    <div>
                      <h3 class="h3 coin-name">Avalanche</h3>

                      <span class="span">AVAX</span>
                    </div>
                  </td>

                  <td class="table-data">
                    <data class="data" value="9.44">9.44</data>
                  </td>

                  <td class="table-data">
                    <div class="wrapper-flex">
                      <div class="icon red">
                        <ion-icon name="caret-down" aria-hidden="true"></ion-icon>
                      </div>

                      <data class="data" value="0.3%">0.3%</data>
                    </div>
                  </td>

                  <td class="table-data">
                    <div class="wrapper-flex">
                      <div class="icon red">
                        <ion-icon name="caret-down" aria-hidden="true"></ion-icon>
                      </div>

                      <data class="data" value="2.2%">2.2%</data>
                    </div>
                  </td>

                  <td class="table-data">
                    <div class="wrapper-flex">
                      <div class="icon red">
                        <ion-icon name="caret-down" aria-hidden="true"></ion-icon>
                      </div>

                      <data class="data" value="1.8%">1.8%</data>
                    </div>
                  </td>

                </tr>

              </tbody>

            </table>
          </div>

        </div>
      </section>





      <!-- 
        - #CTA
      -->

      <section class="section cta bg-gray" aria-label="call to action">
        <div class="container">

          <h2 class="h2 section-title text-center">Start Trading on Quiety</h2>

          <p class="section-text text-center">
            If you use this site regularly and would like to help keep the site on the Internet, please consider
            donating a small.
          </p>

          <a href="#" class="btn btn-primary">
            <span class="span">Read Reviews</span>

            <ion-icon name="arrow-forward" aria-hidden="true"></ion-icon>
          </a>

        </div>
      </section>





      <!-- 
        - #INSTRUCTION
      -->

      <section class="section instruction" aria-label="instruction">
        <div class="container">

          <h2 class="h2 section-title text-center">How it All Started</h2>

          <p class="section-text text-center">
            Technical tool for early adopters into a diverse ecosystem of secure, user-friendly applications. A crypto wallet does not actually "store" digital currency, but rather holds the private keys necessary to prove ownership and interact with the blockchain.
          </p>

          <ul class="grid-list">

            <li>
              <div class="instruction-card bg-gray">

                <div class="card-icon">
                  <img src="{% static 'assets/images/coin-1.png'%}" width="20" height="20" loading="lazy" alt="icon">
                </div>

                <p class="card-text">
                  Create a decentralized digital cash system that eliminated the need for banks or trusted third parties.
                </p>

              </div>
            </li>

            <li>
              <div class="instruction-card bg-gray">

                <div class="card-icon">
                  <img src="{% static 'assets/images/coin-2.png'%}" width="20" height="20" loading="lazy" alt="icon">
                </div>

                <p class="card-text">
                  Decentralized applications (dApps) and smart contracts—self-executing code that operates without a central authority.
                </p>

              </div>
            </li>

            <li>
              <div class="instruction-card bg-gray">

                <div class="card-icon">
                  <img src="{% static 'assets/images/coin-3.png'%}" width="20" height="20" loading="lazy" alt="icon">
                </div>

                <p class="card-text">
                  Designed to bridge the gap between US Dollar and the volatile cryptocurrency market by creating a "stablecoin" pegged 1-to-1 with the dollar.
                </p>

              </div>
            </li>

            <li>
              <div class="instruction-card bg-gray">

                <div class="card-icon">
                  <img src="{% static 'assets/images/coin-9.png'%}" width="20" height="20" loading="lazy" alt="icon">
                </div>

                <p class="card-text">
                  Creating price-stable cryptocurrencies (stablecoins) to facilitate mass adoption of digital assets in e-commerce payments.
                </p>

              </div>
            </li>

          </ul>

        </div>
      </section>





      <!-- 
        - #APP
      -->

      <section class="app" aria-label="app">
        <div class="container">

          <div class="app-card bg-gray">

            <div class="card-content">

              <h2 class="h2 section-title">Also Available on IOS & Android</h2>

              <p class="section-text">
                This site regularly and would like to help keep the site on the Internet please consider donating a
                small.
              </p>

              <div class="btn-group">

                <a href="#" class="btn btn-primary">
                  <ion-icon name="logo-google-playstore" aria-hidden="true"></ion-icon>

                  <div>
                    <p class="btn-text">Available on the</p>

                    <p class="btn-title">Play Store</p>
                  </div>
                </a>

                <a href="#" class="btn btn-primary">
                  <ion-icon name="logo-apple" aria-hidden="true"></ion-icon>

                  <div>
                    <p class="btn-text">Available on the</p>

                    <p class="btn-title">Apple Store</p>
                  </div>
                </a>

              </div>

            </div>

            <figure class="card-banner">
              <img src="{% static 'assets/images/download-banner.png'%}" width="383" height="384" loading="lazy"
                alt="download banner" class="w-100">
            </figure>

          </div>

        </div>
      </section>

    </article>
  </main>





  <!-- 
    - #FOOTER
  -->

  <footer class="footer" id="company">

    <div class="footer-top section">
      <div class="container">

        <div class="footer-brand">

          <a href="#" class="logo">
            <img src="{% static 'assets/images/logo.svg'%}" width="185" height="31" alt="Cryptoza home">
          </a>

          <p class="footer-text">
            Bitcoin, first released as open-source software in is the first decentralized cryptocurrency. Since the
            release of
            bitcoin
          </p>

        </div>

        <ul class="footer-list">

          <li>
            <a href="#home" class="footer-link">Home</a>
          </li>

          <li>
            <a href="#" class="footer-link">About</a>
          </li>

          <li>
            <a href="#" class="footer-link">Market</a>
          </li>

          <li>
            <a href="#" class="footer-link">Trading</a>
          </li>

          <li>
            <a href="#" class="footer-link">Team</a>
          </li>

        </ul>

        <div class="social-wrapper">

          <p class="h3 social-list-title">Join the Conversation</p>

          <ul class="social-list">

            <li>
              <a href="#" class="social-link">
                <ion-icon name="logo-facebook"></ion-icon>
              </a>
            </li>

            <li>
              <a href="#" class="social-link">
                <ion-icon name="logo-twitter"></ion-icon>
              </a>
            </li>

            <li>
              <a href="#" class="social-link">
                <ion-icon name="logo-dribbble"></ion-icon>
              </a>
            </li>

            <li>
              <a href="#" class="social-link">
                <ion-icon name="logo-behance"></ion-icon>
              </a>
            </li>

          </ul>

        </div>

      </div>
    </div>

    <div class="footer-bottom">
      <div class="container">

        <p class="copyright">
          Copyright &copy; 2026 Cryptoza. All rights reserved.
        </p>

        <ul class="footer-bottom-list">

          <li>
            <a href="#" class="footer-bottom-link">Support</a>
          </li>

          <li>
            <a href="#" class="footer-bottom-link">Privacy Policy</a>
          </li>

        </ul>

      </div>
    </div>

  </footer>





  <!-- 
    - custom js link
  -->
  <script src="{% static 'js/script.js'%}" defer></script>

  <!-- 
    - ionicon-link
  -->
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

</body>

</html>